header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body{
  text-align: center;
  background: #2f1e1e;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.gameResult {
    font-size: 40px;
    font-weight: bold;
    display: block;
    position: absolute;
    width: 220px;
    height: 180px;
    text-align: center;
    margin: 40px 25px;
    background-color: rgba(165, 255, 20, 0.4);
    border-radius: 10px;
    padding: 25px 5px;
    color: #3b4036;
    vertical-align: middle;
}
.score{
  font-size: 18px;
}
.scoreNumber{
  font-weight: 800;
}
.scoreText{
  font-weight: 500;
}
.userScoreDiv{
  text-align: left;
  width: 33%;
  display: inline-block;
}
.computerScoreDiv{
  text-align: right;
  width: 33%;
  display: inline-block;
}
.resetScoreDiv{
  text-align: center;;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.resetScoreDiv:hover{
  /*color: #550440;*/
  font-weight: bolder;
}
#resetAll{
  font-weight: inherit;
}
.fieldSpan{
  font-weight: bolder;
  font-size: 56px;
  font-family: 'Fredoka One', cursive;
}
.chooseTxt{
  font-weight: bolder;
  font-size: 32px;
  display: inline-block;
}
.chooseXO{
  font-weight: bolder;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
  width: 50px;
  height: 50px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
.chooseXO:hover{
  color: #550440;
}
.bodyDiv{
  text-align: center;
}
.borderDiv{
    display: inline-block;
    border: black;
    border-style: solid;
    margin: 20px;
    border-radius: 10px;
    background: #f5f5dc;
    width: 280px;
    height: 280px;
}
.playDiv, .chooseDiv{
  text-align: center;
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  width: 255px;

  display: inline-block;
  /*padding: 40px;*/
}
.chooseDiv{
  margin-top: 20px
}
.field{
  width: 72px;
  height: 72px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 800;

}
.field:hover{
  background: #e9ffd5;
}
.field0, .field3, .field6{
  border-right: 6px solid #5fc55e;
}
.field2, .field5, .field8{
  border-left: 6px solid #5fc55e;
}
.field3, .field4, .field5{
  border-top: 6px solid #5fc55e;
  border-bottom: 6px solid #5fc55e;
}
.field1, .field4, .field7{
  margin-left: -4px;
  margin-right: -4px;
}
